<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
    </style>
</head>
<body>
    <div class="container">
        <h1>Fetch Video URL</h1>
        <form id="videoUrlForm">
            <label for="videoUrl">Enter Video URL:</label>
            <input type="text" id="videoUrl" name="video_url" required>
            <button type="submit">Fetch Video URL</button>
        </form>
        

        <div id="video-container" style="display:none;">
            <h2>Uploaded Video</h2>
            <video id="video" width="320" height="240" controls></video>
            <br>
            <a id="download-link" download="uploaded_video.mp4">Download Video</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#videoUrlForm').submit(function(event) {
                event.preventDefault();

                var formData = {
                    'video_url': $('#videoUrl').val()
                };

                $.ajax({
                    url: '/',
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        if (response.success) {
                            $('#video-container').show();
                            $('#video').attr('src', response.video_url);
                            $('#download-link').attr('href', response.video_url);
                            $('#download-link').show();
                        } else {
                            console.error('Video upload failed:', response.message);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error fetching video URL:', error);
                        $('#videoUrlDisplay').html('<p>Error fetching video URL.</p>');
                    }
                });
            });
        });
    </script>
</body>
</html>
